@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: "yekan";
  src: url("/fonts/Yekan.ttf");
}

@font-face {
  font-family: "iranyekanx";
  src: url("/fonts/IRANYekanX-Regular.ttf");
}

@font-face {
  font-family: "iransansr";
  src: url("/fonts/IRANSansX-Regular.ttf");
}
@font-face {
  font-family: "iransansb";
  src: url("/fonts/IRANSansX-Bold.ttf");
}

body {
  font-family: "iranyekanx", "iransansr", sans-serif;
}





 :root {

  --background: #ffffff;
  --foreground: #171717;

body {
  @apply dark:bg-dark-300;

}

input {
  @apply placeholder:text-[#898989] bg-lightGrey-100;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #7575fe;
  opacity: 1;
}
 }